@model Service.Models.PasswordMailModel
@{
    ViewData["Title"] = "Password Change";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3>Dear @Model.Name, </h3>
<br/>
<br/>
<p> Your password has been changed successfully.</p>
<p>
    If you did not initiate this process kindly contact the administrator.
</p>
<br/>