@model Service.Models.RegistrationMailModel
@{
    ViewData["Title"] = "Password Reset";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3>Dear @Model.UserName, </h3>
<br/>
<br/>
<p> Your password reset has been initiated, kindly <a href="@Model.ConfirmationUrl"> click the link </a> to complete the reset process.    </p>