@model Service.Models.PasswordMailModel
@{
    ViewData["Title"] = "Password";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3> Hello @Model.Name,  </h3>
<br/>

<p>Welcome, you have been registered as a user on the National SGBV Data Collation tool, </p><p> your login details are below </p>
<p> Email : @Model.Email</p>
<p> Password : @Model.Password</p>


<br />
<p ><b> Kindly <a href="http://reportgbv.ng/"> Click Here to Login</a>, you can change your password upon login</b></p>

<br/>

<p> Thank you.</p>

